hr {
	margin-top: 50px;
	padding: 0;
	height: 0;
	border: none;
	box-shadow: 0 0 10px 1px black;
}
ul { 
  padding-left: 10; 
  margin-top:25px; 
 }
.menu {
	margin-left: 260px;
	margin-top: 40px;
	border: 0px solid;
	width: 1400px;
	height: 40px;

  padding: 15px;
 }


a {float:left; 
	  color: black;
  text-decoration: none; 
  background:none; 
  padding:10px; 
    font-family: arial;
	font-weight: 700;
   font-size: 23px; 

}
a:hover {
	   color: red;
  background:none;
  text-decoration: none; 
}

.su {
position: absolute;
border: 0px solid;
margin-left: 40px;
margin-top: -20px;
}
.sus {
position: absolute;
border: 0px solid;
margin-left: 1500px;
margin-top: -20px;
}
.heading {
		
	margin-top: 0px;
	border: 0px solid;
	height: 280px;

}

/* 1 */
.heading p {
		color:green;
}
/* 2 */
.heading h2 {
		color:red;
}
/* 3 */
#testqq p {
		text-decoration: underline;
}
/* 4 */
#testqq h2 {
		text-decoration: underline;
}
/* 5 */
.bbb {
	margin-top: 0px;
	border: 0px solid;
	height: 280px;
}
/* 6 */
#testt.bbb {
	color: purple;
}
/* 7 */
p.bbb {
	text-decoration: underline;
}
/* 8 */
h2.bbb {
		text-decoration: underline;
}
/* 9 */
#testt p.bbb{
		color: purple;
}

.xxx {
	
	margin-top: 0px;
	border: 0px solid;
	height: 280px;
}
/* 10 */
.bbb,.xxx{
	color: yellow;
}
/* 11 */
p.bbb,h2.xxx{
	text-decoration: none;
	
}
/* 12 */
#testt p.bbb,#testq p.xxx{ 
	text-decoration: none;
}
/* 13 */
.fff{
	margin-top: 0px;
	border: 0px solid;
	height: 280px;
}
/* 14 */
.fff p{ 
color: red;
}
/* 15 */
p.fff{
	color: green;
	}
/* 16 */
.fff.bbb{
	text-decoration: underline;
	}
	/* 17 */
.fff h2.bbb{
	text-decoration: underline;
	}
	/* 18 */
.fff a{
	color: green;
	}
#testq a:link, a:visited{
	color: red;
	}
#testq a:hover{
	text-decoration: underline;
	color: blue;
	}
	/* 19 */
.www{
	margin-top: 0px;
	border: 0px solid;
	height: 180px;
}	
.www a:link, a:visited{
	text-decoration: underline;
	color: blue;
}
.www a:hover{
	text-decoration: none;
	}
		/* 20 */
#test {width: 400px;
border: 0px solid;
	height: 180px;}		
	
#test a:link.wwww{
color:blue}
#test a:visited.wwww{
}
#test a:hover{
color:yellow;
}
/* 21 */
.eee a.www:link,.eee a.www.visited 
{color: blue; 
text-decoration: underline;
}
.eee a.www:hover{
color:red;
text-decoration: none;}